.anjuta/
.anjuta_sym_db.db
*.anjuta
Debug/
*~
Makefile.in
*.csv
aclocal.m4
ae.anjuta
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
install-sh
ltmain.sh
missing
src/Makefile.in
tests/Makefile.in
logs/
*.svg
*.data
